<div id="sign-in">
<h1> Sign In </h1>

<%= form_tag("/climbers/login", method: "put", remote: true, id: 'ccs_login') do %>
  <%= label_tag "CCS Number" %>
  <%= text_field_tag(:ccs_id) %>
  <%= text_field_tag(:comp_id, @comp, {type: "hidden"}) %>
  <%= submit_tag("enter") %>
<% end %>
  </div>

<div id="new_climber" class="hidden" >
  <h1> Register new climber</h1>
  <%= form_for(@climber) do |f| %>
  <%= f.text_field :ccs_id, type: "hidden" %>

  <%= text_field_tag(:comp_id, @comp, {type: "hidden"}) %>

  <%= f.label "Name" %>
    <%= f.text_field :name %>
    <%= f.submit "Done"%>
  <% end %>


</div>
