<h2>
  NEW COMP
</h2>
<%= form_for @comp do |f| %>

  <% if @comp.errors.any? %>
    <div class='error-explanation'>
      <p>Sorry!</p>
      <ul>
        <% @comp.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </div>
    <% end %>

  <h4>
    LOCATION
  </h4>

  <%= f.text_field(:location, class: 'input-large') %>

  <h4>
    DATE
  </h4>

  <%= f.date_field(:date, class: 'input-large datepicker') %>
  <h4>
    STATUS
  </h4>

  <%= f.select(:state, [['Closed', :closed], ['Open', :open]], {class: 'select-large'}) %>
  
  <br />
  <br />

  

  <%= f.submit("SUBMIT", class: 'block-link') %>

<% end %>
