<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Compclimbr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='navbar'>
  <ul class='navList'>
      <% if @current_climber.nil? %>
      <li class='nav'>
         <%= link_to 'Sign In', signin_climbers_path %>
      </li>
    <% else %>
      <li class='nav'>
        <%= link_to 'Profile', @current_climber %>
      </li>
      <li class='nav'>
        <%= link_to 'Log Out', logout_climbers_path, method: 'put' %>
      </li>
    <% end %>
    <% if @current_scoresheet.present? %>
    <li class='nav'>
      <%= link_to 'Scoresheet', scoresheet_path %>
    </li>
    <li class='nav'>
      <%= link_to 'Leaderboard', @current_scoresheet.comp %>
    </li>
    <% end %>
  </ul>
</div>

<div id='content'>
  <%= yield %>
</div>

</body>
</html>
