<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Compclimbr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='wrapper'>
<div class='navbar'>
  <ul class='navList'>
    <li class='nav home'>
      <%= link_to icon("fa-home") + " SENDR", root_path %>
      </li>
      <% if @current_climber.nil? %>
      <li class='nav'>
      <%= link_to icon("fa-sign-in"), signin_climbers_path %>
      </li>
    <% else %>
 <li class='nav'>
        <%= link_to icon("fa-sign-out"), logout_climbers_path, method: 'put' %>
      </li>

      <li class='nav'>
      <%= link_to icon("fa-user") +" #{@current_climber.name}" , @current_climber %>
      </li>
         <% end %>
  </ul>
</div>
<div id='content'>

  <%= yield %>
</div>
</div>

</body>
</html>
